<ol id="selectable">
<% @assets.each do |asset| %>
  <% next unless asset.public_url %>
	<li class="ui-state-default"><img src="<%= asset.large_thumbnail_url %>" data-public-url="<%= asset.image_url %>" data-description="<%= asset.description %>"></img></li>
<% end %>	  
</ol>
	  