<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fluxiom Assets</title>

  <%= stylesheet_link_tag     "/vendor/typus/fluxiom/chooser.css" %>  
    <script>
  var fluxiom_url="<%= Fluxiom::Configuration.config['host'] %>";
  </script>
  <%= javascript_include_tag  "http://code.jquery.com/jquery-1.6.1.min.js", "http://documentcloud.github.com/underscore/underscore-min.js",  "/vendor/typus/fluxiom/backbone.js",
                             "/vendor/typus/fluxiom/fluxiom.js", "/vendor/typus/fluxiom/chooser.js"
                     %>
</head>
<body>

  <div id="flux-asset-browser">

    <form id="flux-form" action="<%= url_for(:action => 'list') %>" method="GET">

      <div id="flux-toolbar">

        <div id="flux-tags">  
      	  <%# @tags.each do |tag| %>
      		<%# end %>
        </div>

        <div id="flux-actions">
          <a href="#" id="flux-clear-button">clear selection</a>
          <input type="submit" id="flux-use-button" data-default-text="Use selected images" value="Use selected images">
        </div>

      </div><!--/flux-toolbar-->    

      <div id="flux-assets">  
        <ol>
        </ol>
        <div id="flux-assets-more"> Load more items </div>
      </div><!--/flux-assets-->

    </form>

  </div>    

</body>
</html>