<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Fluxiom asset chooser</title>
    
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/smoothness/jquery-ui.css">
    <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" %>

    <style>
    html, body{
      margin:0;
      padding:0;
    }
      .ui-widget{
        font-size: 0.6em;
      }
    	#feedback { font-size: 1.4em; }
    	#selectable .ui-selecting { background: #FECA40; }
    	#selectable .ui-selected { background: #F39814; color: white; }
    	#selectable { list-style-type: none; margin: 0; padding: 0; }
    	#selectable li { 
    	  margin: 0px; 
    	  padding: 0px; 
        float: left; 
        width: 256px;
        line-height: 256px;
        height: 256px;
        font-size: 4em; 
        text-align: center; 
      }
       #selectable li img { 
         vertical-align:middle;
       }
       #flux-assets {
         margin-top:30px;
       }

       #flux-tags{
         position:fixed;
         top:0px;
         background: #ccc;
         width:100%;
         padding: 5px;
       }
       #flux-tags .filter-tag {
         background-color:yellow;
       }
       
       #footer {
         position:fixed;
         bottom:0px;
         background: #ccc;
         width:100%;
         padding: 5px;
       }
  	</style>
    
    
    <%= yield :javascripts -%>
    
  </head>
  <body>
    <%= yield %>
  </body>
</html>